
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FAQ</title>
    <style>
        body {
            padding: 0 10px;
            background: #f8f8f8;
        }

        * {
            padding: 0;
            margin: 0;
            font-family: WorkSans-Medium;
        }

        h2 {
            font-size: 16px;
            text-align: center;
            line-height: 32px;
        }

        p {
            font-size: 14px;
            padding: 0 5px;
        }

        .question {
            line-height: 28px;
            background: #ddd;
            border-radius: 4px 4px 0 0;
            font-weight: 600;
        }

        .answer {
            line-height: 22px;
            padding: 5px 5px;
            background: #fff;
            border-radius: 0 0 4px 4px;
            margin-bottom: 15px;
            color: 666;
        }
    </style>
</head>

<body></body>
<h2>FAQ</h2>
<p class="question">Q: How to get started?</p>
<p class="answer">
    A: Simply sign-in with your Instagram account. But don’t worry, we are authorized by official Certification and we do
    not
    participate in the login process.
    It's affiliated with and endorsed by Instagram. So it is very safe.
</p>
<p class="question">
    Q: How does all this work? Are you using fake profiles or similar to deliver
    followers/likes?
</p>
<p class="answer">
    A: We don't use fake profiles, all followers/likes/views are delivered by
    real Instagram users. The way it works is simple: your profile/photos/videos
    are shown to real people in our network that freely decide if they want to
    follow/like you based on the content of your profile. In exchange of a
    like/follow they receive virtual coins that they themselves can use to get
    followers/likes.
</p>
<p class="question">
    Q: I made an order, when will I start receiving the followers/likes I
    requested?
</p>
<p class="answer">
    A: We deliver your order instantly. When you purchase any of our products, we process your order instantly. And most
    orders will completed within 5 to 10 mins.
</p>
<p class="question">Q: How long does it take to complete my order?</p>
<p class="answer">
    A: We typically fulfill orders instantly depending on our back log of
    orders.
</p>
<p class="question">Q: Why does my account have to be set to public?</p>
<p class="answer">
    A: In order for our system to deliver your Followers/Likes properly, your
    account must be set to public. However, if you still would like to keep your
    account private, you can only purchase followers packages.
</p>
<p class="question">Q: Do I have to follow back?</p>
<p class="answer">
    A: Nope! Once you have ordered your followers, you have done your part. You
    don’t need to follow back. The one thing you really need to do is to publish
    amazing content for them to view and like!
</p>
<p class="question">
    Q: Why did I get only part of the followers I requested?
</p>
<p class="answer">
    A: Since our delivery is based on real people it may happen that some people
    start following you and later decide to stop following. We have no control
    over this but we try to overcome this problem by delivering more than
    requested.
</p>
<p class="question">
    Q: I want to boost a different account, how can I change account?
</p>
<p class="answer">
    A: Tap on the profile photo on the top-left of the top bar, then add an
    account by login in with Instagram or search for Instagram username.
</p>
<p class="question">Q: Do you customize your services?</p>
<p class="answer">
    A: Yes, our service is flexible and if you want to activate or deactivate
    certain features we can work with you to ensure that your needs are met.
    Feel free to contact your account manager at aq44204@163.com if
    you need anything.
</p>
<p class="question">
    Q: I have a question not listed here, how can I contact you?
</p>
<p class="answer">
    A: If you need support with an order, don’t forget to mention your Instagram
    username and your order number.
</p>
<p class="question">
    Q: Will I lose my followers if I stop using your service?
</p>
<p class="answer">
    A: Absolutely not. The followers you gain as a result of using our App are
    real and follow you because they are genuinely interested in your content.
    And you can enjoy our VIP benefit，we will compensate you with extra
    followers if anyone unfollows you in the first week.
</p>
<p class="question">Q: What are the ways to get free coins?</p>
<p class="answer">
    A: We suggest the best way to earn free coins is to follow or like others.
    And you can also earn coins for watching videos and download our Hot App.
</p>
<p class="question">Q: Wanna get coins faster?</p>
<p class="answer">
    A: You can add more accounts for higher speed to follow or like others to
    earn coins, and use coins to get your followers or likes.
</p>
<p class="question">Q: How to get equal amount of followers every day？</p>
<p class="answer">
    A: Join our weekly subscription, get high-quality followers added to your
    Instagram account everyday at the time you ordered. We do all the work for
    you.
</p>
<p class="question">Q: Why Buy Automatic Instagram Likes?</p>
<p class="answer">
    A: Benefits are endless when receiving auto IG likes, the greatest benefit
    is that Instagram likes that are delivered instantly are prone to give you a
    higher boosts through hashtags, and the explore page.
</p>

</html>